html,
body {
  height: 100%;
  width: 98%;
  margin: 0;
  padding: 1%;
  background: #ffffff;
  color: #444444;
  vertical-align: middle;
  text-align: left;
}

div.work-view {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

div.json-view {
  padding: 0;
  margin: auto 0;
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}

.json-input {
  margin: auto;
  width: 98%;
}

div.elements-view {
  padding: 0;
  margin: auto;
  display: inline-block;
  width: 60%;
  text-align: center;
  vertical-align: top;
}

/* HTML styling */

button {
  border: 2px solid #555555;
  background: #dddddd;
  margin: 0.25em;
  //padding: 0.25em;
  border-radius: 0.5em;
  text-align: center;
}

button:hover {
  background: #aaaaaa;
}

button:active {
  background: #888888;
}

select {
  border: 2px solid #555555;
  background: #dddddd;
  margin: 0.25em;
  border-radius: 0.5em;
}

select:hover {
  background: #aaaaaa;
}

input {
  border: 2px solid #555555;
  background: #dddddd;
  margin: 0.25em;
  border-radius: 0.5em;
}

input:hover {
  background: #aaaaaa;
}

textarea {
  border: 2px solid #555555;
  background: #dddddd;
  margin: 0.25em;
  border-radius: 0.5em;
}

textarea:hover {
  background: #aaaaaa;
}

label {
  padding: 2%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

/* Element styling */

// *

div.caylon-element {
  display: inline-block;
  width: 100%;
}

// actions/*

div.caylon-action-config {}

// actions/command.rs

div.caylon-command-action-edit {}

// actions/javascript.rs

div.caylon-javascript-action-edit {}

// actions/json.rs

div.caylon-json-action-edit {}

// actions/mirror.rs

div.caylon-mirror-action-edit {}

// actions/transform.rs

div.caylon-transformer-replace-item {}

div.caylon-transformer-replace {}

div.caylon-transformer-expand {}

div.caylon-transformer-log {}

div.caylon-transformer-action-edit {}

div.caylon-transformer-type-action-edit {}

// add_element.rs

div.add-element {
  padding: 0;
  margin: auto;
}

button.add-element-button {
  width: 24px;
}

// button.rs

div.caylon-button {}

// fake/button.rs

div.fake-button {
  display: inline-block;
  width: clamp(250px, 75%, 350px);
  margin: auto;
  padding: 8px 16px;
  font-family: "Motiva Sans","Twemoji","Noto Sans",Helvetica,sans-serif;
  background: #202020;
  color: #ffffff;
  --field-row-children-spacing: 10px;
  text-align: left;
  border-radius: 2px;
}

button.fake-button-button {
  width: 100%;
  background: #23262e;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  height: 40px;
  text-align: center;
  line-height: 20px;
}

button.fake-button-button:hover {
  width: 100%;
  background: #ffffff;
  color: #23262e;
}

// edit/*

div.caylon-edit {}

label.caylon-label-edit {}

input.caylon-input-editor {}

// edit/action_editor.rs

div.caylon-action-edit {}

div.caylon-sequence-action-edit {}

div.caylon-sequence-command-action {}

div.caylon-sequence-transform-action {}

div.caylon-sequence-javascript-action {}

div.caylon-sequence-json-action {}

div.caylon-sequence-action-edit-item {}

div.caylon-sequence-action-edit {}

div.caylon-action-config {}

div.caylon-editor {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin: auto;
  padding: 1%;
  width: clamp(300px, 48%, 400px);
}

// edit/always_str.rs

div.caylon-always-str-edit {
  margin: auto;
}

input.caylon-always-str-input {
  width: clamp(100px, 75%, 400px);
}

// edit/always_usize.rs

div.caylon-always-usize-edit {}

input.caylon-always-usize-input {}

// edit/optional_str.rs

div.caylon-option-str-edit {}

input.caylon-option-str-input {}

// edit/optional_u64.rs

div.caylon-option-u64-edit {}

input.caylon-option-u64-input {}

// elements.rs

div.elements-view {}

div.elements-toolbar {
  width: 100%;
  display: inline-block;
  margin: auto;
}

div.elements-list {
  width: 100%;
  display: inline-block;
  padding: 2% 0;
}

div.elements-item {
  width: 100%;
  display: inline-block;
  margin: auto;
  padding: 2%;
  border: none;
  border-bottom: 2px solid #555555;
  border-radius: 0.5em;
}

// event_display.rs

div.caylon-event-display {}

// reading_display.rs

div.caylon-reading-display {}

// reading_display.rs

div.caylon-reading-display {}

// remove_element.rs

div.remove-element {
  display: inline-block;
  //width: clamp(25px, 50%, 200px);
}

button.remove-element-button {
  width: 24px;
}

// result_display.rs

div.caylon-result-display {}

// fake/display.rs


div.fake-display {
  display: inline-block;
  width: clamp(250px, 75%, 350px);
  margin: auto;
  padding: 8px 16px;
  font-family: "Motiva Sans","Twemoji","Noto Sans",Helvetica,sans-serif;
  background: #202020;
  color: #ffffff;
  --field-row-children-spacing: 10px;
  text-align: left;
  border-radius: 2px;
}

span.fake-display-content {
  color: #969696;
  text-align: right;
  float: right;
}

span.fake-display-title {
  color: #ffffff;
  text-align: left;
  float: left;
}

// fake/slider.rs

div.fake-slider {
  display: inline-block;
  width: clamp(250px, 75%, 350px);
  margin: auto;
  padding: 8px 16px;
  font-family: "Motiva Sans","Twemoji","Noto Sans",Helvetica,sans-serif;
  background: #202020;
  color: #ffffff;
  --field-row-children-spacing: 10px;
  text-align: left;
  border-radius: 2px;
  //height: 40px;
}

span.fake-slider-title {
  width: 100%;
  text-align: left;
  float: left;
}

input.fake-slider-input {
  width: 100%;
  border: none;
  background: inherit;
}



input.fake-slider-input::-webkit-slider-runnable-track {
    background-color: #1a9fff;
}
input.fake-slider-input::-moz-range-track {
    background-color: #1a9fff;
}

input.fake-slider-input::-webkit-slider-thumb {
    background-color: white;
}
input.fake-slider-input::-moz-range-thumb {
    background-color: white;
    border: none;
}



// slider.rs

div.caylon-slider {}

// toggle.rs

div.caylon-toggle {}

// fake/toggle.rs

div.fake-toggle {
  display: inline-block;
  width: clamp(250px, 75%, 350px);
  margin: auto;
  padding: 8px 16px;
  font-family: "Motiva Sans","Twemoji","Noto Sans",Helvetica,sans-serif;
  background: #202020;
  color: #ffffff;
  --field-row-children-spacing: 10px;
  text-align: left;
  border-radius: 2px;
}

span.fake-toggle-title {
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  height: 22px;
  line-height: 22px;
  padding: 0;
}

// adapted from https://www.w3schools.com/howto/howto_css_switch.asp
// I spent way too much time making this slider line up, don't fall into this trap again
.fake-toggle-button {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 22px;
  padding: 0;
  float: right;
}

.fake-toggle-button input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-round:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-round {
  background-color: #1a9fff;
}

input:focus + .toggle-round {
  box-shadow: 0 0 1px #1a9fff;
}

input:checked + .toggle-round:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.toggle-round {
  border-radius: 34px;
}

.toggle-round:before {
  border-radius: 50%;
}

/* End element styling */

div.footer {
  width: 98%;
  height: 5%;
  margin: auto;
  padding: 2%;
  text-align: right;
}

.footer-elem {
  display: inline-block;
  padding: 0% 4%;
}

div.header {
  width: 98%;
  height: 10%;
  margin: auto;
  text-align: center;
}

.header-elem {
  display: inline-block;
}

.hit-count {
  margin: auto;
}
